.hero-section {
  display: flex;
}

.header-column {
  width: 50%;
  display: flex;
  align-items: center;
}

.header-content {
  margin-left: 50px;
}

.section-header.scrolled-past-header .header {
  background-color: white;
  transition: 0.5s;
}